node_modules
dist
logs
.vscode
results.json
package-lock.json
yarn.lock
*.tsbuildinfo
.env.local
.env.*.local
.env
logs/
tasks.json
.DS_Store
.cursorrules
.dist
CLAUDE
.hermes
.cursor
.opencode
.pnpm-store/